
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_segment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_close_summary_store` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_deffered_income_posted` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cor_report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_state` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`room_unavailable_history` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_package_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field11` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_table_unavailable` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ast_user_sub_department` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_ar_payment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_purchase_order` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_account_sub_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_opname` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_unavailable_reason` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_return_stock` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_tax_and_service` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_venue_combine_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_stock_transfer_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_receiving_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_venue_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_check_transaction` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`budget_statistic` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_market` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cash_count` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_member_outlet_discount_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`reservation_extra_charge` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_department` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_product` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_deffered_income` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_send_reminder` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_amenities` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`voucher` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_market_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_purchase_request_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`credit_card` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_cfg_init_bank_account` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`member_gift` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`room_unavailable` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_activity_log` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field10` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_credit_card_recon` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_iptv_menu_order` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_proposal` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_task_repeat` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_check` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_journal_account_sub_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`reservation_extra_charge_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_ar_payment_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field01` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field04` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_reservation` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_credit_card_charge` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_venue_combine` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_seating_plan` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`competitor` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`room_allotment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_nationality` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_discount_limit` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`invoice_item` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_purchase_order_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field09` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_activity` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_loan_item` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`log_backup` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`company` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field08` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_prepaid_expense` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_close_year` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_market_list` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_product_costing` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`receipt` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`member_point_redeem` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_theme` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_category_other_expense` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_is_fb_sub_department_group_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_boy` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_member_point_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`phone_book` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_member_product_discount` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ast_cfg_init_shipping_address` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_business_source` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`member` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_loan_item` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_competitor` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_card_bank` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_ar` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_cash_sale_recon` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cor_user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_store_requisition_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_task_tag` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_account` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`competitor_data` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_card_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`configuration` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_uom` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_scale` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_cfg_init_manufacture` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_purchase_order_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_close_log` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_voucher_reason` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_category_other_cogs2` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_user_group_outlet` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_extra_charge` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_profile` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_package_business_source` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_last_deal` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`grid_properties` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`budget_income` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_list` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_receive` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_uom` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_booking_source` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pabx_smdr` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`forecast_in_house_change_pax` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_in_house` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_spa_room` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_company_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_no_show_payment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_import_journal_log` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_cfg_init_item` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ast_report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_tenan` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_depreciation` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_session` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_task_action` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_city` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_outlet` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cost_recipe` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_sub_department` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_costing` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_location_history` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_store_requisition` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_stock_transfer` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sms_outbox` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`folio` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_guest_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_commission_payment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_purchase_request` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`reservation_scheduled_rate` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_cfg_init_item_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_product_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`user` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`log` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_prepaid_expense_posted` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_is_fb_sub_department_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_cfg_init_source` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_purchase_order` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_reservation` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_pabx_rate` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_reservation_charge` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_printer` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sub_folio` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`notif_tp` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_journal` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field06` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`budget_expense` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_title` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ast_report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field12` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`member_point` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field07` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_product_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`contact_person` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_reservation_mark` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_reservation_table` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_revaluation` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_weekly` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_captain_order` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_competitor_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_repair` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_therapist_fingerprint` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_currency` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_payment_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`log_special_access` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_captain_order_transaction` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_cfg_init_venue` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_store` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cor_cfg_init_unit` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`notif_tp_cfg_init_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`folio_routing` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_deposit` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_table_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`invoice_payment` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_close_summary` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`notification` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`audit_log` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sms_schedule` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_phone_book_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_allotment_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`lost_and_found` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_journal_account` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_purpose_of` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_booking` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_no_show_payment_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_close_month` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_item_category_other_cogs` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_reservation_remark` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_owner` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_member_outlet_discount` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`reservation` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_table` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_regency` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_view` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field02` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_general` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_receive_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_receiving` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_journal_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_message` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_contact` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_notes` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_costing_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_payment_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_scheduled_rate` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_journal_account_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ban_user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_language` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`log_user` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field03` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_country` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_bed_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cor_report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_package` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_sub_category` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`report_custom_favorite` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_rate_dynamic` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_waitress` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_currency_nominal` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_in_house_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_currency` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_room_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_to_do` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_cfg_init_return_stock_reason` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`budget_fb` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_sales` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_continent` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`inv_production` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_member` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_custom_lookup_field05` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_report_template` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`sal_task` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`guest_extra_charge_breakdown` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`invoice` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`log_shift` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_foreign_cash` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_room_boy` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`fa_cfg_init_location` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`ast_user_group` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_credit_card_recon_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`pos_cfg_init_market` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`cfg_init_id_card_type` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`acc_ap_commission_payment_detail` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';
 ALTER TABLE  `db_chs_cloud`.`report` MODIFY COLUMN updated_by VARCHAR(20) NOT NULL DEFAULT '';     